<!DOCTYPE html>
<html>

<head>
	<script src="https://code.jquery.com/jquery-3.5.0.min.js"> </script>
</head>

<body>
	<div>
		<select name="stock-list" id="stock-list">
		</select>
		<input type="button" onclick="addStock()" value="종목추가" />
	</div>
</body>
<script>
	$(document).ready(function () {
		alert("ready");
		$.ajax({
			url: "/stock/list",
			type: "get",
			success: function (data) {
				alert(JSON.stringify(data));
				$.each(data, function (k, v) {
					$('#stock-list').append($('<option>', {
						value: k,
						text: v
					}));
				});
			},
			error: function () {
				alert("error");
			}
		})
	});
	function addStock() {
		alert("addStock");
	}
</script>

</html>